n8n/backup/workflows/palanthai/WF-005-GDRIVE-CONTENT-FEEDER.json
{
  "id": "wf005gdrivefeeder",
  "versionId": "c3d4e5f6-a7b8-9012-cdef-123456789012",
  "name": "WF-005-GDRIVE-CONTENT-FEEDER",
  "active": false,
  "meta": {"instanceId": "palanthai-n8n"},
  "pinData": {},
  "tags": [{"name": "palanthai"}, {"name": "content"}],
  "nodes": [
    {
      "id": "schedule-check",
      "name": "Schedule: Every 2h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "parameters": {
        "rule": {"interval": [{"field": "hours", "hoursInterval": 2}]}
      },
      "typeVersion": 1.2
    },
    {
      "id": "gdrive-list",
      "name": "GDrive: List New Files",
      "type": "n8n-nodes-base.googleDrive",
      "position": [460, 300],
      "parameters": {
        "operation": "filesList",
        "driveId": {"__rl": true, "mode": "list", "value": "My Drive"},
        "folderId": {"__rl": true, "mode": "list", "value": "palanthai-content-queue"},
        "queryFilters": {
          "conditions": [
            {"key": "mimeType", "value": "application/vnd.google-apps.document"},
            {"key": "trashed", "value": false}
          ]
        },
        "returnAll": false,
        "limit": 10,
        "fields": "id,name,createdTime,modifiedTime,description"
      },
      "typeVersion": 3
    },
    {
      "id": "check-files",
      "name": "Any New Files?",
      "type": "n8n-nodes-base.if",
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "conditions": [{"id": "c1", "leftValue": "={{ $json.length }}", "rightValue": 0, "operator": {"type": "number", "operation": "gt"}}],
          "combinator": "and"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "split-files",
      "name": "Split Files",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [900, 220],
      "parameters": {"batchSize": 1, "options": {}},
      "typeVersion": 3
    },
    {
      "id": "get-file-content",
      "name": "GDrive: Get Doc Content",
      "type": "n8n-nodes-base.googleDrive",
      "position": [1120, 220],
      "parameters": {
        "operation": "download",
        "fileId": {"__rl": true, "mode": "id", "value": "={{ $json.id }}"},
        "options": {"googleFileConversion": {"conversion": [{"from": "application/vnd.google-apps.document", "to": "text/plain"}]}}
      },
      "typeVersion": 3
    },
    {
      "id": "parse-content",
      "name": "Parse Content → Queue Entry",
      "type": "n8n-nodes-base.code",
      "position": [1340, 220],
      "parameters": {
        "jsCode": "// Parse Google Doc content into a content_queue entry\n// Expected format in doc:\n// KEYWORD: investir en Thaïlande\n// BRAND: reflexion\n// TYPE: faq\n// PRIORITY: 8\n// NOTES: Focus on foreign buyers, mention FET form\n\nconst filename = $input.first().json.name || 'untitled';\nconst content = $('GDrive: Get Doc Content').first().binary?.data\n  ? Buffer.from($('GDrive: Get Doc Content').first().binary.data, 'base64').toString('utf-8')\n  : '';\n\nconst lines = content.split('\\n').map(l => l.trim()).filter(Boolean);\nconst meta = {};\nconst noteLines = [];\nlet inNotes = false;\n\nfor (const line of lines) {\n  if (line.startsWith('KEYWORD:')) { meta.keyword = line.replace('KEYWORD:', '').trim(); }\n  else if (line.startsWith('BRAND:')) { meta.brand = line.replace('BRAND:', '').trim().toLowerCase(); }\n  else if (line.startsWith('TYPE:')) { meta.content_type = line.replace('TYPE:', '').trim().toLowerCase(); }\n  else if (line.startsWith('PRIORITY:')) { meta.priority = parseInt(line.replace('PRIORITY:', '').trim()) || 5; }\n  else if (line.startsWith('NOTES:')) { inNotes = true; noteLines.push(line.replace('NOTES:', '').trim()); }\n  else if (inNotes) { noteLines.push(line); }\n}\n\nmeta.notes = noteLines.join('\\n').trim();\nmeta.source = 'gdrive';\nmeta.gdrive_file_id = $('GDrive: List New Files').first().json.id;\nmeta.gdrive_filename = filename;\n\nif (!meta.keyword) {\n  // Use filename as keyword fallback\n  meta.keyword = filename.replace(/\\..*$/, '').replace(/-/g, ' ');\n}\nif (!meta.brand) meta.brand = 'reflexion';\nif (!meta.content_type) meta.content_type = 'faq';\nif (!meta.priority) meta.priority = 5;\n\nreturn [{ json: meta }];"
      },
      "typeVersion": 2
    },
    {
      "id": "check-duplicate",
      "name": "Check Duplicate in Queue",
      "type": "n8n-nodes-base.executeCommand",
      "position": [1560, 220],
      "parameters": {
        "command": "/home/phil/venv/bin/python3 -c \"\nimport json, os, psycopg2\nfrom dotenv import load_dotenv\nload_dotenv('/home/phil/palanthai/config/.env')\n\nkeyword = '={{ $json.keyword }}'\nbrand = '={{ $json.brand }}'\n\nconn = psycopg2.connect(os.getenv('VPS_PG_URL'))\ncur = conn.cursor()\ncur.execute(\\\"SELECT id, status FROM content_queue WHERE keyword=%s AND brand=%s AND status NOT IN ('rejected', 'published') LIMIT 1\\\", (keyword, brand))\nrow = cur.fetchone()\ncur.close()\nconn.close()\n\nif row:\n    print(json.dumps({'exists': True, 'queue_id': str(row[0]), 'status': row[1]}))\nelse:\n    print(json.dumps({'exists': False}))\n\""
      },
      "typeVersion": 1
    },
    {
      "id": "check-dup-result",
      "name": "Already Queued?",
      "type": "n8n-nodes-base.if",
      "position": [1780, 220],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "conditions": [{"id": "c1", "leftValue": "={{ JSON.parse($json.stdout).exists }}", "rightValue": false, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "insert-queue",
      "name": "Insert → content_queue",
      "type": "n8n-nodes-base.executeCommand",
      "position": [2000, 140],
      "parameters": {
        "command": "/home/phil/venv/bin/python3 -c \"\nimport json, os, psycopg2\nfrom dotenv import load_dotenv\nload_dotenv('/home/phil/palanthai/config/.env')\n\nconn = psycopg2.connect(os.getenv('VPS_PG_URL'))\ncur = conn.cursor()\ncur.execute(\\\"\\\"\\\"\nINSERT INTO content_queue (keyword, brand, content_type, priority, status, source, notes)\nVALUES (%s, %s, %s, %s, 'pending', %s, %s)\nRETURNING id\n\\\"\\\"\\\",\n('={{ $json.keyword }}', '={{ $json.brand }}', '={{ $json.content_type }}',\n {{ $json.priority }}, 'gdrive', '={{ $json.notes.replace(\"'\",'') }}')\n)\nnew_id = cur.fetchone()[0]\nconn.commit()\ncur.close()\nconn.close()\nprint(json.dumps({'ok': True, 'queue_id': str(new_id), 'keyword': '={{ $json.keyword }}'}))\n\""
      },
      "typeVersion": 1
    },
    {
      "id": "slack-queued",
      "name": "Slack: Keyword Queued",
      "type": "n8n-nodes-base.slack",
      "position": [2220, 140],
      "parameters": {
        "channel": "#content-brief",
        "text": "📝 New keyword queued from GDrive: *{{ $json.keyword }}* | brand={{ $json.brand }} | type={{ $json.content_type }} | p{{ $json.priority }}",
        "authentication": "oAuth2"
      },
      "typeVersion": 2.2
    },
    {
      "id": "move-to-processed",
      "name": "GDrive: Move to Processed",
      "type": "n8n-nodes-base.googleDrive",
      "position": [2220, 300],
      "parameters": {
        "operation": "move",
        "fileId": {"__rl": true, "mode": "id", "value": "={{ $json.gdrive_file_id }}"},
        "folderId": {"__rl": true, "mode": "list", "value": "palanthai-content-processed"}
      },
      "typeVersion": 3
    },
    {
      "id": "no-op-end",
      "name": "No New Files",
      "type": "n8n-nodes-base.noOp",
      "position": [900, 420],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule: Every 2h": {"main": [[{"node": "GDrive: List New Files", "type": "main", "index": 0}]]},
    "GDrive: List New Files": {"main": [[{"node": "Any New Files?", "type": "main", "index": 0}]]},
    "Any New Files?": {
      "main": [
        [{"node": "Split Files", "type": "main", "index": 0}],
        [{"node": "No New Files", "type": "main", "index": 0}]
      ]
    },
    "Split Files": {"main": [[{"node": "GDrive: Get Doc Content", "type": "main", "index": 0}]]},
    "GDrive: Get Doc Content": {"main": [[{"node": "Parse Content → Queue Entry", "type": "main", "index": 0}]]},
    "Parse Content → Queue Entry": {"main": [[{"node": "Check Duplicate in Queue", "type": "main", "index": 0}]]},
    "Check Duplicate in Queue": {"main": [[{"node": "Already Queued?", "type": "main", "index": 0}]]},
    "Already Queued?": {
      "main": [
        [{"node": "Insert → content_queue", "type": "main", "index": 0}],
        [{"node": "No New Files", "type": "main", "index": 0}]
      ]
    },
    "Insert → content_queue": {"main": [[{"node": "Slack: Keyword Queued", "type": "main", "index": 0}, {"node": "Move to Processed", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
